extends layout

block content
	div(class="ui inverted vertical masthead center aligned segment")
		.ui.container
				div.left.item
					h1 IN THE BUILDING
				div.right.item
					a(href="/home", class="ui inverted button") Home
		.ui.center.aligned
			.center.aligned.column.about
				h1 About
					i  In The Building
				h4 Coworking spaces are all over the places. One of the main reasons why people see their work in coworking spaces as meaningful is the great ‘help eachother out’ / community vibe that tends to hang around in these buildings.
				h4 They're jampacked with people who could help you out with all sorts of problems.
				h4 It could, however, be hard to find just that one person who could help you solve your problem.
				h4 Enter
					i  In The Building, 
					| an app which helps coworkers to connect with someone in the building who can help them out with a problem.


