extends layout

block content
	div(class="ui inverted vertical masthead center aligned segment")
		div(class="ui container")
			div(class="left item")
				h1 IN THE BUILDING
			div(class="right item")
				a(href="/login", class="ui inverted button") Log in
				a(href="/signup", class="ui inverted button") Sign up
		div(class="ui text container")
			div(class="ui inverted header")
				img(src='/img/BAmsterdam.JPG')
				//- div(class="videoWrapper")
				//- 	iframe(src="https://player.vimeo.com/video/75650911?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

