extends layout

block content
	.ui.inverted.vertical.masthead.center.aligned.segment
		.ui.container
			.ui.secondary.inverted.pointing.menu
				.left.item
					h1 
						a(href="/") IN THE BUILDING
				.right.item
					a.ui.inverted.button(href="/login") Log in
					a.ui.inverted.button(href="/signup") Sign up
		.ui.center.aligned
			.center.aligned.column
						form.ui.form(action='/signup', method='POST')
							.ui.left.icon.input
								input(type='text', name='firstname', placeholder='Firstname',required)
								i.user.icon
							.ui.left.icon.input
								input(type='text', name='lastname', placeholder='Lastname',required)
								i.user.icon
							.ui.left.icon.input
								input(type='text', name='username', placeholder='Email address',required)
								i.mail.icon
							.ui.left.icon.input
								input(type='password', name='password', placeholder='Password',required)
								i.key.icon
							.ui.left.icon.input
								input(type='text', name='location', placeholder='Location',required)
								i.marker.icon
							br
							button.ui.button.inverted(type='submit') Register
		#message
			if message
				h1.text-center.error-message #{message}