body{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

h1{
    color:white;
}   

a {
  color: white;
}

/*LANDING*/
.ui.inverted.segment{
    padding-top:45px;
    background-color:#1B1C1D;
    min-height:700px;
    border: none;
    box-shadow: none;
}

.ui.container {
    display: block;
    max-width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.left.item{
    float:left;
}

.left.item h1{
    font-size: 2.5em;
    border-bottom: 2px solid white;
}

.right.item{
    float:right;
}

.ui.text.container{
    margin-top:8em;
}
 
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*LOGIN & SIGNUP*/

.column{
    margin-left: auto;
    margin-right: auto;
    margin-top:8em;
    max-width: 400px;
    min-height: 45%;
}

input.ui.input.focus{
    margin: 10px !important;
}

button

.column .form-control{
    position: relative;
    font-size: 16px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*HOME*/

.row{
    margin-top:40px;
}
.four.wide.column{
    overflow-y: scroll;
    border: 2px solid white;
    border-radius: 6px;
    margin: px;
    height:500px;
    min-width:33%;
}

.four.wide.column.double{
    margin: 1px;
    border:none;
    min-width:33%;
}

.segment{
    overflow-y: scroll;
    border: 2px solid white;
    border-radius: 6px;
    height:250px;
    min-width: 33%;
}

.logo{
    position:fixed;
    margin:0 auto;
}

.title{
    border-bottom: 1px solid white;
}

.segment.one{
    margin-bottom:50px;
    height:200px;
    min-width: 100%;
}

.segment.two{
    min-width: 100%;
 
}

.logo{
    position:relative;
    height: 35px;
    width: 100%;
    top: 0;
    left: 0;
}

.content{
    top:35px;
    overflow-y: scroll;
}

.instagram.icon{
    margin-top:10px;
    color: white;
    font-size: 2em;
}

.instaphoto img{
    width:50%;
}
.twitter.icon{
    margin-top:10px;
    color: white;
    font-size: 2em;
}